//color list

$main-theme: #440000;


$Blanco-Apagado: #f5f5f5;
$Gris-Claro: #cccccc;


$Dorado: #ffd700;
$Dorado-Apagado: #b8860b;


$Verde-Esmeralda: #2ecc71;
$Verde-Oscuro: #006400;


$Burdeos: #800020;
$Borgona: #800000;


$Azul-Marino: #001f3f;
$Azul-Oscuro: #00008b;